#comments, #organizer-comments {
  position: relative;
  background-color: $white;
  color: $dark_grey;
  padding: 20px;
  display: inline-block;
  overflow: auto;
  height: 100%;
  margin: 0px;
  border-right: 1px solid #ccc;
  h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
  }
  ul{
    margin: 0px;
    overflow:hidden;
    list-style: none;
    li {
      padding: 30px 10px;
      border-bottom: 1px solid $cream;
      overflow: hidden;
    }
    &.actions {
      float: right;
      li {
        display: inline-block;
        float: left;
      }
    }
  }
  input, textarea {
    border: 1px solid #eee;
    &:focus {
      border: 1px solid $grey;
      padding: 20px;
    }
  }
  a {
    color: $blue;
    &:hover {
      text-decoration: underline;
    }
  }
}

.comment {
  .circle-image {
    width: 100px;
    margin-right: 20px;
    float: left;
  }
}