#event-details-view {
  height: 100%;
  #side-menu {
    float: left;
    .circle-image {
      width: 30%;
      margin: 0px;
      padding: 0px;
      display: block;
      float: left;
    }
  }
}
