!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:name => "language", :content => "english"}/

    %title
      Open Government Event Map
    %link{ href: 'http://fonts.googleapis.com/css?family=Montserrat:400,700', rel: 'stylesheet', type: 'text/css' }
    %link{:href => "css/normalize.css", rel: 'stylesheet', type: 'text/css' }/
    %link{:href => "css/style.css", rel: 'stylesheet', type: 'text/css' }/
    %link{:href => "@@medium_editor_css", rel: 'stylesheet', type: 'text/css' }/
    %link{:href => "@@medium_editor_theme", rel: 'stylesheet', type: 'text/css' }/
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyABUwstpTrJU3ebGtKfCQJzVMx31g53kEU&libraries=geometry&sensor=false&language=en", :type => "text/javascript" }
    %script{:src => "http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox.js", :type => "text/javascript" }
    %script{:src => "@@jquery", :type => "text/javascript"}
    %script{:src => "@@handlebars", :type => "text/javascript"}
    %script{:src => "@@ember", :type => "text/javascript"}
    %script{:src => "@@ember_data", :type => "text/javascript"}
    %script{:src => "@@ember_simple_auth", :type => "text/javascript"}
    %script{:src => "@@moment", :type => "text/javascript"}
    %script{:src => "@@medium_editor_js", :type => "text/javascript"}
    %script{:src => "@@showdown", :type => "text/javascript"}
    %script{:src => "@@templates", :type => "text/javascript"}
    %script{:src => "@@app", :type => "text/javascript"}
  %body
