!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:name => "language", :content => "english"}/

    %title
      Open Government Road Trip
    %link{ href: 'http://fonts.googleapis.com/css?family=Montserrat:400,700', rel: 'stylesheet', type: 'text/css' }
    %link{:href => "css/normalize.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyABUwstpTrJU3ebGtKfCQJzVMx31g53kEU&libraries=geometry&sensor=false&language=en", :type => "text/javascript" }
    %script{:src => "@@jquery"}
    %script{:src => "@@handlebars"}
    %script{:src => "@@ember"}
    %script{:src => "@@ember_data"}
    %script{:src => "@@ember_simple_auth"}
    %script{:src => "@@moment"}
    %script{:src => "@@templates"}
    %script{:src => "@@app"}
  %body